<!DOCTYPE html>
<html>
<head>
    <title>APPS Login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="container">
    <h2>APPS Login</h2>
    <form action="/dashboard" method="get">
        <label>Username</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="password" name="password">
        <button type="submit">Login</button>
    </form>
    <footer>Grand Canyon University – College of Science and Technology</footer>
</div>
</body>
</html>